
.content-window {
  position: absolute;
  background-color: #B4E0DE;
}

.resizer {
  position: absolute;
  z-index: 1035;
  background-color: #4E6160;
}

.vertical-resizer {
  cursor: ns-resize;
}

.horizontal-resizer {
  cursor: ew-resize;
}
